{% extends 'base.html.twig' %}

{% block body %}


	<h1>Liste des circuits Programmés</h1>
	<table class="table">
		<thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Nombre_Personnes</th>
                <th>Prix</th
            </tr>
  		</thead>
  		
    {%  for programmation in programmations %}
    
    	<tr>
    		<td>{{ programmation.id }}</td>
    		<td>{{ programmation.circuit.description }}</td>
    		<td>{{ programmation.nombrePersonnes }}</td>
    		<td>{{ programmation.prix }}</td>
    		<td>
                	<a href="{{ path('front_circuit_show', {id: programmation.id}) }}">détails</a>
            </td>
        </tr>
     {% else %}
            <tr>
                <td colspan="2">no programmated circuits found</td>
            </tr>
  		</tr>
  		
    {% endfor %}
     
    </table>
    
    {%  for programmation in programmations %}
    
    <h2>{{ programmation.circuit.description }}</h2>
    <table>
      	<thead>
        <tr>
            <th>Numéro Etape</th>
            <th>Ville Etape</th>
            <th>Nombre Jours</th>
        </tr>
      	</thead>

      {%  for etape in programmation.circuit.etapes %}
      
          <tr>
            <td>{{ etape.numeroEtape }}</td>
            <td>{{ etape.villeEtape }}</td>
            <td>{{ etape.nombreJours }}</td>
          </tr>
      
      {% endfor %} {# etapes #}
      
	</table>
	
    {% endfor %}
    
    {{ dump(programmations) }}
    
{% endblock %}
